<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/c1.css')}}">
</head>
<body>
    <center>
        <h1>Properties of Send Html page</h1>

        <img src="{{url_for('static',filename='images/images.jpeg')}}" alt="" height="300px" width="300px">

        <h1><a href="{{url_for('send_html')}}">Go to Send Html Page</a></h1>
        
    </center>
</body>
</html>